{%- liquid
  assign localeCode = request.locale.iso_code
 case localeCode
 when "en"
     assign localeCountry = "en_US"
   when "fr"
     assign localeCountry = "fr_FR"
   when "es"
     assign localeCountry = "es_LA"
   else
     assign localeCountry = "en_US"
 endcase
-%}

<!-- Messenger Chat Plugin Code -->
   <div id="fb-root"></div>

   <!-- Your Chat Plugin code -->
   <div id="fb-customer-chat" class="fb-customerchat">
   </div>

   <script>
     var chatbox = document.getElementById('fb-customer-chat');
     chatbox.setAttribute("page_id", "{{ settings.facebook_page_id }}");
     chatbox.setAttribute("attribution", "biz_inbox");

     window.fbAsyncInit = function() {
       FB.init({
         xfbml            : true,
         version          : 'v12.0'
       });
     };

     (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/{{ localeCountry }}/sdk/xfbml.customerchat.js';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
   </script>